<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
body {
  font-family: 'Sora', sans-serif;
  min-height: 75rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sora', sans-serif;
}
p {
    font-size: 24pt;
    font-family: 'Sora', sans-serif;
}
img {
}
