---
layout: default
title: Blog
---

<div class="container mw-35em">
  <h1 class="mt-5">Blog</h1>

  {% for post in site.posts %}
    <div class="py-5">
      {% if post.image %}
        <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | prepend: '/static/img/' | relative_url }}" alt="{{ post.image_alt | default: post.title }}" class="d-block mb-3 border rounded" loading="lazy">
        </a>
      {% endif %}
        <h2 class="h3 my-4"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="lead text-info">
            {{ post.date | date: "%-d %b %Y" }}
        </p>

        <p class="mb-0">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
    </div>
  {% endfor %}
</div>
