---
layout: default
title: Festival of Maintenance 2018
description: Festival of Maintenance 2018 took place in London, on Saturday 22nd September 2018. The festival brings together maintainers to learn from and inspire each other.
---

<div class="hero hero-red text-center">
    <div class="container">
        <h1 class="mb-2 mb-md-3">Festival of Maintenance 2018</h1>
        <p class="mb-md-4 fw-bold">London &middot; Saturday 22nd September</p>
        <ul class="hero-ctas mb-0 mt-5 justify-content-center">
            <li class="mb-2"><a href="https://www.youtube.com/playlist?list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc" class="btn btn-light">
                <i class="fa fa-play me-2"></i>
                Watch on YouTube
            </a></li>
            <li class="mb-2"><a href="#schedule" class="btn btn-outline-light">
                <i class="fa fa-arrow-down me-2"></i>
                Schedule
            </a></li>
            <li class="mb-2"><a href="{{ '/2018/speakers' | relative_url }}" class="btn btn-outline-light">
                Speakers
                <i class="fa fa-arrow-right ms-2"></i>
            </a></li>
        </ul>
    </div>
</div>

<img src="{{ '/static/img/london-2018.jpg' | relative_url }}" alt="View from the audience at the Festival of Maintenance, taking place in a university classroom, with multi-coloured flag bunting hung up across the walls" width="1440" height="482" class="d-block" loading="lazy">

<div class="py-4 py-lg-5">
    <div class="container">
        <h2 class="mb-4">About the event</h2>

        <p class="mw-30em">A one-day festival in London on Saturday 22/09/2018, bringing together maintainers to learn from and inspire each other.</p>

        <p class="mw-30em">Maintainers can be found in many contexts, including nature, software, infrastructure, communities, industry, information, arts and heritage. The Festival brings together traditional disciplines of maintenance, repair and stewardship, with new forms such as supporting digital products, sustaining open source software, and moderating online communities. The Festival aims to share learning around maintainer skills and tools and how maintenance is resourced and rewarded, and to boost the morale of maintainers across sectors with inspiring ideas and stories.</p>
            
        <p class="mw-30em">The Festival of Maintenance is a celebration of those who maintain different parts of our world, and how they do it, exploring and recognizing the often-hidden work done in repair, custodianship, stewardship, tending and caring for the things that matter.</p>

        <h3 class="h4 mt-4 mt-lg-5">Why London?</h3>

        <p class="mw-30em">2018 is the first year of the Festival – we hope there will be more! We really wanted to run it in the UK outside London, but all the advice we’ve had from folks who have run other volunteer and community events is that London is the best choice for the first year, to draw people in.  We hope to balance this out with a satellite event at the same time at <a href="https://doesliverpool.com/">DoES Liverpool</a>, where folks can gather to watch the Festival talks remotely.</p>

        <hr class="my-5">

        <h2 class="mb-4">Sponsors</h2>

        <p class="mb-4 mw-30em">Thank you to these organisations, without whose support this year’s Festival would not be possible.</p>

        <div class="sponsor justify-content-start">
            <a href="https://makerassembly.org">
                <img src="{{ '/static/img/maker-assembly.png' | relative_url }}" alt="Maker Assembly" width="500" height="531" loading="lazy">
            </a>
            <p><a href="https://makerassembly.org">Maker Assembly</a> is a gathering of makers. They aim to make a home for critical discussion about maker culture: its meaning, politics, history and future.</p>
        </div>
        <div class="sponsor justify-content-start my-md-n3">
            <a href="https://www.maintainourheritage.co.uk">
                <img src="{{ '/static/img/maintain-our-heritage.png' | relative_url }}" alt="Maintain our Heritage" width="1000" height="1000" loading="lazy">
            </a>
            <p><a href="https://www.maintainourheritage.co.uk">Maintain our Heritage</a> is a small not-for-profit group campaigning to get historic building owners and institutions to recognize the importance of the everyday, routine maintenance.</p>
        </div>

    </div>
</div>

<div class="bg-gray-100 py-4 py-lg-5">
    <div class="container">

        <div id="schedule" style="position: relative; top: -2rem;"></div>
        <h2 class="text-center">This year’s festival schedule</h2>
        <p class="text-center">Saturday 22nd September, University of London Union, Malet Street, London</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">09:30</span>
        <p class="h4">Coffee and registration</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">10:00</span>
        <h3 class="h4">Introduction and housekeeping</h3>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">10:15</span>
        <h3 class="mb-3">Provocation – What is maintenance?</h3>
        <a href="https://www.youtube.com/watch?v=kVbPk0eedW0&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=1" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Simon Elmer' byline='Architects for Social Housing' img='simon-elmer.jpg' %}
            {% include speaker.html year='2018' name='Natalie Kane' byline='V&amp;A Museum' img='natalie-kane.jpg' %}
            {% include speaker.html year='2018' name='Alanna Irving' byline='Open Collective' img='alanna-irving.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">11:00</span>
        <p class="h4">Morning break</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">11:20</span>
        <h3 class="mb-3">Status of maintenance: What has happened to maintenance? Why?</h3>
        <a href="https://www.youtube.com/watch?v=JYpLEV5kaMw&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=3" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='David Edgerton' byline='Kings College London' img='david-edgerton.jpg' %}
            {% include speaker.html year='2018' name='Hazel Forsyth' byline='Museum of London' img='hazel-forsyth.jpg' %}
            {% include speaker.html year='2018' name='Alex Mecklenburg' byline='Truth and Spectacle, Doteveryone' img='alex-mecklenburg.png' %}
            {% include speaker.html year='2018' name='Mike Green' byline='Central London Maintenance Association' img='mike-green.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">12:20</span>
        <p class="h4">Lunch break</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">13:20</span>
        <h3 class="mb-3">Programme highlight</h3>
        <a href="https://www.youtube.com/watch?v=z38xAwjvwuo&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=8" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Guerrilla Groundsman' byline='Cambridge' img='guerrilla-groundsman.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">13:40</span>
        <h3 class="mb-3">Communities and voluntary maintenance</h3>
        <a href="https://www.youtube.com/watch?v=ueGPWHXRdpo&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=9" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Lauren Hutchinson' byline='Oxford Hackspace' img='lauren-hutchinson.jpg' %}
            {% include speaker.html year='2018' name='Adrian McEwen' byline='DoES Liverpool' img='adrian-mcewen.jpg' %}
            {% include speaker.html year='2018' name='Oliver Holtaway' byline='Strategic Communications for the New Economy' img='oliver-holtaway.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">14:25</span>
        <h3 class="mb-3">Tech and maintenance</h3>
        <a href="https://www.youtube.com/watch?v=wtu95pJVYzY&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=12" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Andrew Nesbitt' byline='Open source software developer' img='andrew-nesbitt.jpg' %}
            {% include speaker.html year='2018' name='Chris Mills' byline='Mozilla' img='chris-mills.jpg' %}
            {% include speaker.html year='2018' name='Daria Cybulska' byline='Wikimedia UK' img='daria-cybulska.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">15:10</span>
        <p class="h4">Afternoon break</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">15:30</span>
        <h3 class="mb-3">Programme highlight</h3>
        <a href="https://www.youtube.com/watch?v=bJIL4F96v18&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=14" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Lee Vinsel' byline='The Maintainers' img='lee-vinsel.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">15:50</span>
        <h3 class="mb-3">New models for maintenance</h3>
        <a href="https://www.youtube.com/watch?v=uUcN7w6MrnQ&list=PL8H77AdofFb1VuEU4qd_0-IfnMf3VBlOc&index=15" class="d-none d-lg-inline-flex align-items-center">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>
        <div class="row row-cols-sm-2 mw-30em mt-4">
            {% include speaker.html year='2018' name='Chris Hellawell' byline='Edinburgh Tool Library' img='chris-hellawell.jpg' %}
            {% include speaker.html year='2018' name='Jake Harries' byline='Access Space' img='jake-harries.jpg' %}
            {% include speaker.html year='2018' name='Michelle Williams' byline='Regeneration Repair Café' img='michelle-williams.jpg' %}
            {% include speaker.html year='2018' name='Janet Gunter' byline='Restart Project' img='janet-gunter.jpg' %}
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">16:50</span>
        <h3 class="h4">Closing remarks</h3>

        <hr class="my-5" role="presentation">
    
        <span class="badge text-bg-primary mb-3">17:00</span>
        <p class="h4">Festival ends</p>
        <p>Everyone is invited to join us at The Fitzroy Pub to continue the conversation.</p>

    </div>
</div>
