---
layout: default
title: Festival of Maintenance 2019
description: Festival of Maintenance 2019 took place in Liverpool, on Saturday 28th September 2019. The festival explored what maintenance means in complex and changing times, bringing together new stories about creativity, craftsmanship, and the challenges of maintenance.
---

<div class="hero hero-green text-center">
    <div class="container">
        <h1 class="mb-2 mb-md-3">Festival of Maintenance 2019</h1>
        <p class="mb-md-4 fw-bold">Liverpool &middot; Saturday 29th September</p>
        <ul class="hero-ctas mb-0 mt-5 justify-content-center">
            <li class="mb-2"><a href="https://www.youtube.com/playlist?list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9" class="btn btn-light">
                <i class="fa fa-play me-2"></i>
                Watch on YouTube
            </a></li>
            <li class="mb-2"><a href="#schedule" class="btn btn-outline-light">
                <i class="fa fa-arrow-down me-2"></i>
                Schedule
            </a></li>
            <li class="mb-2"><a href="{{ '/2019/speakers' | relative_url }}" class="btn btn-outline-light">
                Speakers
                <i class="fa fa-arrow-right ms-2"></i>
            </a></li>
        </ul>
    </div>
</div>

<img src="{{ '/static/img/liverpool-2019.jpg' | relative_url }}" alt="View from the audience at the Festival of Maintenance, taking place a low, wide event space with a red floor and a projection screen in the middle" width="2000" height="800" class="d-block" loading="lazy">

<div class="py-4 py-lg-5">
    <div class="container">
        <h2 class="mb-4">About the event</h2>

        <p class="mw-30em">Following the success of the <a href="{{ '/2019' | relative_url }}">inaugural Festival of Maintenance in 2018</a>, this September we reconvene in Liverpool to celebrate the work of maintainers.</p>
        
        <p class="mw-30em">This year’s Festival explores what maintenance means in complex and changing times, bringing together new stories about creativity, craftsmanship, and the challenges of maintenance.</p>

        <p class="mw-30em">The world around us is changing rapidly: mobile technologies, data and connectivity have become normal parts of work and social life, with profound impacts on society and politics. If the digital world is not separate to the real world, what does this mean for the way that things are maintained, fixed and cared for? Maintenance and repair are just as important as innovation, but sometimes these ideas seem left behind. Amidst the rapid pace of innovation, have we missed opportunities to design things so that they can be fixed?</p>
            
        <p class="mw-30em">This doesn’t only relate to everyday consumer objects, but also the massive, resource-intensive infrastructures for the internet and digital systems. Maintenance keeps things working – but the essential work of fixing, repair, care and upkeep of everything from public parks, databases to people and communities is often overlooked. Behind this are bigger questions about public values, the way our economies are changing, and the wider impacts on politics and society.</p>

        <hr class="my-5">

        <h2 class="mb-4">Sponsors</h2>

        <p class="mb-4 mw-30em">Thank you to these organisations, without whose support this year’s Festival would not be possible.</p>

        <div class="sponsor justify-content-start">
            <a href="https://makerassembly.org">
                <img src="{{ '/static/img/maker-assembly.png' | relative_url }}" alt="Maker Assembly" width="500" height="531" loading="lazy">
            </a>
            <p><a href="https://makerassembly.org">Maker Assembly</a> is a gathering of makers. They aim to make a home for critical discussion about maker culture: its meaning, politics, history and future.</p>
        </div>
        <div class="sponsor justify-content-start my-md-n3">
            <a href="https://software.ac.uk">
                <img src="{{ '/static/img/software-sustainability-institute.png' | relative_url }}" alt="Software Sustainability Institute" width="1181" height="305" loading="lazy">
            </a>
            <p>The <a href="https://software.ac.uk">Software Sustainability Institute</a> is a national facility for building better software. We help researchers to introduce software into their research or improve the software they already use.</p>
        </div>
        <div class="sponsor justify-content-start">
            <a href="http://makespace.live">
                <img src="{{ '/static/img/makespacelive.png' | relative_url }}" alt="MakeSpaceLive" width="300" height="300" loading="lazy">
            </a>
            <p><a href="http://makespace.live">MakeSpaceLive</a> is a project born out of a desire to stream the live events hosted at DoES Liverpool in the easiest and most open way. Our goal is to use Open Source hardware and software to build an online platform for makerspaces and others to collaborate.</p>
        </div>
        <div class="sponsor justify-content-start">
            <a href="https://www.kickstarter.com">
                <img src="{{ '/static/img/kickstarter-logo-k-green.png' | relative_url }}" alt="Kickstarter" width="256" height="256" loading="lazy">
            </a>
            <p><a href="https://www.kickstarter.com">Kickstarter</a> helps artists, musicians, filmmakers, designers, and other creators find the resources and support they need to make their ideas a reality. To date, tens of thousands of creative projects — big and small — have come to life with the support of the Kickstarter community.</p>
        </div>
        <div class="sponsor justify-content-start mb-0">
            <a href="https://www.itjobswatch.co.uk">
                <img src="{{ '/static/img/itjobswatch.jpg' | relative_url }}" alt="IT Jobs Watch" width="960" height="960" loading="lazy">
            </a>
            <p>Since 2004, <a href="https://www.itjobswatch.co.uk">IT Jobs Watch</a> has published free demand-side labour market insights including technology skill set trends, salary/contractor rate benchmarking and real-time job vacancy statistics.</p>
        </div>

    </div>
</div>

<div class="bg-gray-100 py-4 py-lg-5">
    <div class="container">

        <div id="schedule" style="position: relative; top: -2rem;"></div>
        <h2 class="text-center">This year’s festival schedule</h2>
        <p class="text-center">Saturday 29th September, The Fasion Hub, Gildart Street, Liverpool</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">09:30</span>
        <p class="h4">Coffee and registration</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">10:00</span>

        <div class="row">
            <div class="col-lg-7">
                <h3 class="mb-lg-4">Introductory talks</h3>
                <p>Three talks to welcome our audience and highlight the surprising facets of maintenance.</p>
                <a href="https://www.youtube.com/watch?v=uzd96qvBw58&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=1" class="d-none d-lg-inline-flex align-items-center my-3">
                    <i class="fa fa-play me-3"></i>
                    Watch on YouTube
                </a>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
                <h4 class="h6 text-info mb-4">Presentations from:</h4>
                {% include speaker.html year='2019' name='Donna Young' byline='Herbarium Curator, Liverpool World Museum' img='donna-young.jpg' %}
                {% include speaker.html year='2019' name='Ben Ward' byline='Network Architect and Sensor Herder, Love Hz' img='ben-ward.jpg' border=1 %}
                {% include speaker.html year='2019' name='Indy Johar' byline='Architect' img='indy-johar.jpg' border=1 %}
            </div>
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">11:00</span>
        <p class="h4">Coffee break</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">11:30</span>

        <div class="row">
            <div class="col-lg-7">
                <h3 class="mb-lg-4">Fragility</h3>
                <p>We know that we need to maintain fragile things. But what about things that people don’t realise are fragile – from roads to CD-ROMS – and therefore don’t care for them properly?</p>
                <a href="https://www.youtube.com/watch?v=23stS3CAAhQ&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=4" class="d-none d-lg-inline-flex align-items-center my-3">
                    <i class="fa fa-play me-3"></i>
                    Watch on YouTube
                </a>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
                <h4 class="h6 text-info mb-4">Presentations from:</h4>
                {% include speaker.html year='2019' name='Mia Ridge' byline='Digital Curator, British Library' img='mia-ridge.jpg' %}
                {% include speaker.html year='2019' name='Mujib Rahman' byline='Senior Lecturer, Civil Engineering, Brunel University' img='mujib-rahman.jpg' %}
                {% include speaker.html year='2019' name='Tom van Deijnen' byline='Tom of Holland, Artist and Activist' img='tom-van-deijnen.jpg' %}
                {% include speaker.html year='2019' name='Tom Forth' byline='Head of Data, Open Data Institute Leeds' img='tom-forth.jpg' %}
            </div>
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">13:00</span>
        <p class="h4">Lunch</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">14:00</span>
        <p class="fw-bold text-muted">After-lunch talk</p>
        
        <div class="row">
            <div class="col-lg-7">
                <h3 class="h4 mb-lg-4">Open Data 101: How to Create and Maintain Data in Collaborative Ways</h3>
                <a href="https://www.youtube.com/watch?v=BIWAw0JOh7g&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=8" class="d-none d-lg-inline-flex align-items-center my-3">
                    <i class="fa fa-play me-3"></i>
                    Watch on YouTube
                </a>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
                {% include speaker.html year='2019' name='Jeni Tennison' byline='CEO, Open Data Institute' img='jeni-tennison.jpg' %}
            </div>
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">14:20</span>

        <div class="row">
            <div class="col-lg-7">
                <h3 class="mb-lg-4">Maintenance in a Climate Crisis</h3>
                <p>We are already experiencing climate crisis. The uncertainty around environmental factors means that in the future, our built environment will require a far higher value placed on maintenance than at present. Whilst maintenance falls outside many current economic models, what happens when we have no longer have the luxury to ignore it?</p>
                <a href="https://www.youtube.com/watch?v=HSskSZlr9uc&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=9" class="d-none d-lg-inline-flex align-items-center my-3">
                    <i class="fa fa-play me-3"></i>
                    Watch on YouTube
                </a>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
                <h4 class="h6 text-info mb-4">Presentations from:</h4>
                {% include speaker.html year='2019' name='Shannon Mattern' byline='Professor, The New School, NYC' img='shannon-mattern.jpg' %}
                {% include speaker.html year='2019' name='Chris Adams' byline='Organiser of ClimateAction.tech and Director of the Green Web Foundation' img='chris-adams.jpg' %}
            </div>
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">15:00</span>
        <p class="h4">Coffee break</p>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">15:30</span>

        <div class="row">
            <div class="col-lg-7">
                <h3 class="mb-lg-4">Cities and the built environment</h3>
                <p>Without continuous care and maintenance, urban systems – everything from transport, networked utilities, housing and green spaces – are prone to breakdown. Maintaining cities is a major task for technical experts and communities alike, and the priority given to this work reflects wider societal challenges.</p>
                <a href="https://www.youtube.com/watch?v=knHTRenZA1o&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=11" class="d-none d-lg-inline-flex align-items-center my-3">
                    <i class="fa fa-play me-3"></i>
                    Watch on YouTube
                </a>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">
                <h4 class="h6 text-info mb-4">Presentations from:</h4>
                {% include speaker.html year='2019' name='Dr Juliet Davis' byline='Reader in Architecture and Urbanism, Cardiff University' img='juliet-davis.jpg' %}
                {% include speaker.html year='2019' name='Edward Saul' byline='Lecturer, Liverpool John Moores University' img='edward-saul.jpg' %}
            </div>
        </div>

        <hr class="my-5" role="presentation">

        <span class="badge text-bg-primary mb-3">16:15</span>
        <h3 class="h3">Panel discussion</h3>
        <a href="https://www.youtube.com/watch?v=Pw0c6T8uH_g&list=PL8H77AdofFb17Gr_MsYSwtDR1ACLVyAs9&index=13" class="d-none d-lg-inline-flex align-items-center my-3">
            <i class="fa fa-play me-3"></i>
            Watch on YouTube
        </a>

        <hr class="my-5" role="presentation">
    
        <span class="badge text-bg-primary mb-3">17:00</span>
        <p class="h4">Festival ends</p>

    </div>
</div>