<footer class="py-5">
  <hr>
  <div class="container text-center text-info">
    <div class="row">
      <div class="col">
       {% include social_links.html %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        All content copyright Maintain Hive &copy; {{ site.time | date: '%Y' }}.
      </div>
    </div>
    <div class="row">
      <div class="col">
        All rights reserved.
      </div>
    </div>
  </div>
</footer>

<script src="{{ '/static/vendor/jquery/jquery-3.6.0.slim.min.js' | relative_url }}"></script>
<script src="{{ '/static/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/static/vendor/clipboard/clipboard.min.js' | relative_url }}"></script>
<script src="{{ '/static/vendor/fontawesome/fontawesome-free-5.0.8.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/main.js' | relative_url }}"></script>
