<nav class="navbar navbar-expand-md bg-light border-bottom py-3 py-md-5">
    <div class="container-fluid d-block">

        <div class="d-flex flex-align-center">
            <a class="me-auto mx-md-auto d-flex align-items-center" href="{{ '/' | relative_url }}">
                <span class="header-logo">Maintain</span>
            </a>
            <button class="navbar-toggler fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav flex-grow-1 justify-content-center mt-3 mt-md-4 mb-md-n2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Festivals</a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="{{ '/' | relative_url }}">Online 2022</a></li>
                        <li><a class="dropdown-item" href="{{ '/2019' | relative_url }}">Liverpool 2019</a></li>
                        <li><a class="dropdown-item" href="https://festivalofmaintenance.org.uk/previous-festivals/2018-09-22-london/">London 2018</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ '/about' | relative_url }}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="{{ '/code-of-conduct' | relative_url }}" class="nav-link">Code of Conduct</a>
                </li>
                <li class="nav-item">
                    <a href="{{ '/contact' | relative_url }}" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
