.header-logo {
    background: transparent url('../img/maintain-logo-green.svg') 0 0 no-repeat;
    background-size: contain;
    display: block;
    width: 200px;
    height: 0;
    padding-top: 15%; // SVG dimensions are 1000x150, so 100:15 aspect
    overflow: hidden;
    white-space: nowrap;

    @include media-breakpoint-up('md') {
      width: 300px;
    }
}
