.hero {
    padding: 8% 0;
}

.hero-pink {
    color: $white;
    background-color: $color-maintain-magenta;
    background: linear-gradient(135deg, #fe8ac2 0%, #{$color-maintain-magenta} 50%, #d930be 100%);
}

.hero-green {
    color: $white;
    background-color: $color-maintain-green;
    background: linear-gradient(135deg, #9dc414 0%, #2c821a 50%, #{$color-maintain-green} 100%);
}

.hero-ctas {
    @include list-unstyled();
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-0.5 * var(--#{$prefix}gap, #{$grid-gutter-width}));
    margin-right: calc(-0.5 * var(--#{$prefix}gap, #{$grid-gutter-width}));

    li {
        margin-left: calc(0.5 * var(--#{$prefix}gap, #{$grid-gutter-width}));
        margin-right: calc(0.5 * var(--#{$prefix}gap, #{$grid-gutter-width}));
    }
}
