.speaker {
    position: relative; // for the .stretched-link
    display: flex;
    align-items: center;

    img {
        @include rfs(80px, max-width);
        border-radius: 100%;
        margin-right: $spacer;
    }

    p {
        @include font-size($small-font-size);
        max-width: 20em;
    }
}
